body {
  background-color: antiquewhite;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

#section {
  background-color: dimgrey;
  margin-top: 50px;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 50px;
  padding: 50px 10px 140px 10px;
  border-radius: 40px;
}
#div1 {
  position: relative;
}

#input {
  margin-top: 20px;
  padding: 12px;
  font-size: 20px;
}
#options {
  padding: 12px;
  font-size: 20px;
}
#div2 {
  margin-top: 20px;
  margin-bottom: 30px;
}
#bases {
  padding: 12px;
  font-size: 20px;
}
#btn {
  padding: 12px;
  font-size: 20px;
}
#result {
  color: chocolate;
  background-color: antiquewhite;
}
#problems {
  color: tomato;
}
@media only screen and (max-width: 420px) {
  body {
    background-color: antiquewhite;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
  #section {
    background-color: dimgrey;
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    /* border-radius: 10px; */
  }
  /* #div1 {
          position: relative;
        } */

  #input {
    margin-top: 12px;
    width: 120px;
    padding: 0.1px;
    font-size: 16px;
  }

  #options {
    padding: 3px;
    font-size: 16px;
  }

  #div2 {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  #bases {
    padding: 1px;
    font-size: 16px;
  }
  #btn {
    margin-top: 5px;
    padding: 3px;
    font-size: 16px;
  }
  #result {
    color: chocolate;
  }
  #problems {
    color: tomato;
  }
}
